.active > div > label {
    text-decoration: line-through;
}

#todo-items-container > .list-group-item.active {
    background-color: #C0C0C0 !important;
    border-color: white !important;
}

#todo-lists-container > * :checked + label {
    font-weight: bold;
    text-align: start;
}

.list-group-label {
    width: 100%;
    text-align: start;
}

#form-wrapper {
    background-color: goldenrod !important;
}

#form-todo-items {
    display: flex;
}

#form-todo-lists {
    display: flex;
}

.todo-section-header {
    background-color: goldenrod !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.todo-list-section-header {
    background-color: goldenrod !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.form-submit-btn {
    font-size: 18px;

}

@media screen and (max-width: 768px) {
    .todo-section-header {
        flex-direction: column;
    }

    .todo-section-header > * {
        margin-bottom: 5px;
    }

    .todo-list-section-header {
        flex-direction: column;
    }
}
