.active > div > label {
    text-decoration: line-through;
}

#todo-items-container > .list-group-item.active {
    background-color: #C0C0C0 !important;
    border-color: white !important;
}

#form-wrapper {
    background-color: goldenrod !important;
}

#form-todo-items {
    display: flex;
}

#form-todo-lists {
    display: flex;
}

.todo-section-header {
    background-color: goldenrod !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.todo-list-section-header {
    background-color: goldenrod !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.form-submit-btn {
    font-size: 18px;

}